@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    string logoUrl = SignInManager.IsSignedIn(User) ? "/Log/Landing" : "/";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelLogger</title>

    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
    <body>
        <nav class="blue">
            @if (SignInManager.IsSignedIn(User))
            {
                <ul id="logout-dropdown" class="dropdown-content">
                    <li><a href="/Account/Logout">Logout</a></li>
                </ul>
            }

            <div class="nav-wrapper">
                <a href="@logoUrl" class="brand-logo left"><i class="material-icons">room</i>TraverLogger</a>
                <ul class="right">
                    @RenderSection("NavigationItems", required: false)
                    <li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="dropdown-trigger" href="#!" data-target="logout-dropdown">
                                <span>@UserManager.GetUserName(User)</span><i class="material-icons right">account_circle</i>
                            </a>
                        }
                        else
                        {
                            <a href="/Account/Login"><i class="material-icons">account_circle</i></a>
                        }
                    </li>
                </ul>
            </div>
        </nav>

        <main class="container vertical-center">
            @RenderBody()
        </main>

        <footer class="page-footer blue-grey lighten-4">
            <div class="footer-copyright blue-grey lighten-3">
                <div class="container">
                    © 2019 - Wesley Ameling
                </div>
            </div>
        </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown-trigger").dropdown();
        });
    </script>
    @RenderSection("Scripts", required: false)
    </body>
</html>
